# Dependencies
node_modules
.pnp
.pnp.js
yarn.lock
package-lock.json

# Testing
coverage

# Next.js
.next/
out/
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
*.pem

# Debug
.vscode
.idea

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts


